
classification/test_data/

classification/validation_data/

classification/training_data/

.vscode/


classification/Training/
classification/Test/

src/__pycache__/

src/fire_pictures/fire_piture0.png

src/fire_pictures/fire_piture1.png

src/fire_pictures/fire_piture2.png

src/fire_pictures/fire_piture3.png

src/fire_pictures/fire_piture4.png
